*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
}
header{
    margin:40px 0px 47px;
    text-align: center;
}
h1{
font-family: Roboto,sans-serif;
font-size: 56px;
font-weight: 700;
color: #75B79E;
}

.linha{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1023px;
    margin-left:122px;
    perspective: 700px;
}
.frente{
    backface-visibility: hidden;
    
    position: absolute;
}
.verso{
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
}
.carta{
    display: flex;
    padding: 24px 7px 22px 10px;
    height: 146px;
    width: 117px;
    border-radius: 5px;
    background-color: #A7E9AF;
    margin-bottom: 34px;
    transition: transform 1s linear;
    transform-style: preserve-3d;
    position: relative;
}
.carta img{
    height: 100px;
    width: 100px;
}
.flipada{
    transform: rotateY(180deg);
}
@media (max-width: 600px){
header{
    width: 100%;
}
.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha{
    display: block;
    width: 117px;
    margin: 0px;
}
}